#forgot form{
	text-align: center;
	height: 200px;
}
#forgot_form input{
	margin-top: 20px;
	margin-bottom: 10px;
}
#forgot .label{
	text-align: right;
	width: 45%;
	padding-right: 2%;
	display: block;
	float: left;
	position: relative;
	top: 1.3em;
}
#forgot #email{
	float: left;
}
#forgot #buttonwrapper{
	display: block;
	width: 100%;
	float: left;
}