#forum .postwrapper{
	background-color: #999999;
	width: 80%;
	margin: 15px auto;
	padding: 5px;
}
#forum .postheaderwrapper{
	list-style: none;
}
#forum .postheaderwrapper li{
	display: inline-block;
	width: 30%;
}
#forum .username{
	color: white;
	font-size: 18px;
}
#forum .type{
	color: white;
	font-size: 14px;
	margin: 0 auto;
}
#forum .timeposted{
	color: white;
	font-size: 16px;
}
#forum .message{
	color: white;
	font-size: 20px;
}
#newpostwrapper{
	width: 80%;
	margin: 0 auto;
}
#forum textarea{
	width: 99%;
	height: 75px;
	margin: 0 auto;
}