#forum .postwrapper{
	background-color: #999999;
	width: 80%;
	margin: 15px auto;
	padding: 5px;
}
#forum .postheaderwrapper{
	list-style: none;
}
#forum .postheaderwrapper li{
	display: inline-block;
	width: 30%;
}
#forum .username{
	color: white;
	font-size: 18px;
}
#forum .postuserimage{
	height: 55px;
	width: 55px;
}
#forum .postuserimage img{
	height: 4em;
	width: 4em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border: none;
}
#forum .type{
	color: white;
	font-size: 14px;
	margin: 0 auto;
}
#forum .timeposted{
	color: white;
	font-size: 16px;
}
#newpostwrapper{
	width: 80%;
	margin: 0 auto;
}
#submitnewpost{
	margin: 1em;
}