main{
	background-color: #ffffff;
	padding: 2em 0px;
	width: 80%;
	min-width: 800px;
	border-radius: 2em;
}
#main{
	background-color: #ffffff;
	padding: 2em 0px;
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
	height: auto;
	border-radius: 2em;
}
#logo{
	margin-top: 100px;
	width: 30%;
	min-width: 250px;
	max-width: 400px;
}
#logodiv{
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
}
#section div{
	padding: 25px;
}