#forgot_form_index{
	display: none;
}
#login_index{
	text-align: center;
	height: 200px;
}
#login_index input{
	margin-top: 20px;
	margin-bottom: 10px;
}
#registerbtn_index{
	margin-left: 20px;
}
.label_index{
	text-align: right;
	width: 45%;
	padding-right: 2%;
	display: block;
	float: left;
	position: relative;
	top: 1.3em;
}
#login_index .login_index{
	text-align: left;
	display: block;
	float: left;
}
#buttonwrapper_index{
	display: block;
	width: 100%;
	float: left;
}