html, body{
	padding: 0px;
	margin: 0px;
	background-color: #0769ad;
}
main{
	background-color: #ffffff;
	padding: 20px 0px;
	width: 80%;
	margin: 30px auto 0px auto;
	height: 100%;
	border-radius: 15px;
}
#logo{
	margin-top: 100px;
	margin-left: 10%;
}
#logo img{
	width: 300px;
}
header{
	width: 100%;
}
header div{
	width: 80%;
	margin: 0 auto;
}
header div h1{
	font-weight: bold;
	text-align: center;
}
form{
	text-align: center;
}
input{
	margin-top: 20px;
	margin-bottom: 10px;
}
#registerbtn{
	margin-left: 20px;
}