html, body{
	padding: 0px;
	margin: 0px;
	background-color: #0769ad;
}
main{
	background-color: #ffffff;
	padding: 2em 0px;
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
	height: auto;
	border-radius: 2em;
}
#logo{
	margin-top: 25px;
	margin-left: 10%;
}
#logo img{
	width: 300px;
}
header{
	width: 100%;
}
header div{
	width: 80%;
	margin: 0 auto;
}
header div h1{
	font-weight: bold;
	text-align: center;
}
#errMsg{
	color: red;
	display: none;
}
footer{
	width: 100%;
}
#footer_div{
	width: 80%;
	min-width: 800px;
	margin: 10px auto 50px auto;
}
.inner_footer{
	width: 30%;
	list-style: none;
	display: inline-block;
}
.inner_footer a{
	color: white;
	text-decoration: none;
	padding-left: 40%;
}
.inner_footer a:hover{
	text-decoration: underline;
}
#left_footer, #center_footer{
	border-right: 2px solid #6699ff;
}