#contactinfo_form input{
	display: none;
}
#updatecontactinfo{
	display: none;
}
#profile #cancel{
	display: none;
	margin-left: 15px;
}
#firstrow{
	width: 80%;
	display: block;
	padding: 0 10%;
}
#profile div span{
	width: 100%;
	display: block;
	padding: 1em;
}
.text{
	display: inline-block;
}
fieldset{
	margin: 15px;
}
#logo{
	margin-top: 100px;
	width: 30%;
	min-width: 250px;
	max-width: 400px;
}
#logodiv{
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
}
#changeuserimage{
	float: right;
}