html, body{
	padding: 0px;
	margin: 0px;
	background-color: #0769ad;
}
main{
	background-color: #ffffff;
	padding: 20px 0px;
	width: 80%;
	margin: 30px auto 0px auto;
	height: 100%;
	border-radius: 15px;
}
#logo{
	margin-top: 25px;
	margin-left: 10%;
}
#logo img{
	width: 300px;
}
header{
	width: 100%;
}
header div{
	width: 80%;
	margin: 0 auto;
}
header div h1{
	font-weight: bold;
	text-align: center;
}
form{
	text-align: center;
	padding-top: 25px;
}
input{
	margin-top: 20px;
	margin-bottom: 10px;
}
#formwrapper{
	height: 250px;
	display: block;
}
#back{
	float: left;
}
#next, #registerbtn{
	float: right;
}
#back, #registerbtn{
	display: none;
}
#back, #next, #cancel{
	margin-top: 20px;
	margin-bottom: 10px;
}
#progressbar{
	width: 90%;
	height: 50px;
	border-radius: 15px;
	margin: 10px auto;
	background-color: #b8b8b8;
	overflow: hidden;
}
.progressbar{
	width: 33%;
	height: 50px;
	float: left;
}
.progressbar p{
	padding-left: 10%;
	font-weight: bold;
	color: white;
	font-size: 1.5em;
	line-height: 10px;
}
#buttons{
	width: 80%;
	margin: 0px auto;
}
#progress1{
	border-right: 1px solid black;
	background-color: #ff9933;
}
#progress2{
	padding-left: 1px;
}
#progress3{
	border-left: 1px solid black;
}
#panel2{
	display: none;
}
#panel3{
	display: none;
}
.label{
	text-align: right;
	width: 45%;
	padding-right: 2%;
	display: block;
	float: left;
	position: relative;
	top: 1.3em;
}
#formwrapper .register{
	text-align: left;
	display: block;
	float: left;
}
#formwrapper div div{
	width: 100%;
}
#UNameMsg, #CPasswordMsg,
#FNameMsg, #LNameMsg,
#EmailMsg, #PhoneMsg{
	color: red;
	position: relative;
	display: none;	
	float: left;
	top: 1.3em;
}
#PasswordMsg{
	color: red;
	position: relative;
	top: 3.3em;
	display: none;
}
#cancel{
	text-align: center;
}