html,body{
	margin: 0;
	padding: 0;
	background-color: #0769ad;
}
main{
	background-color: #ffffff;
	padding: 2em 0px;
	width: 100%;
	border-radius: 2em;
}
#logo{
	margin-top: 100px;
	margin-left: 10%;
	width: 80%;
}
#logo img{
	width: 80%;
}
header{
	width: 100%;
}
header div{
	width: 80%;
	margin: 0 auto;
}
header div h1{
	font-weight: bold;
	text-align: center;
}
#section div{
	padding: 25px;
}
footer{
	width: 100%;
}
#footer_div{
	width: 100%;
	margin-bottom:50px;
}
.inner_footer{
	width: 30%;
	list-style: none;
	display: inline-block;
}
.inner_footer li{
	padding-top: 10px;
}
.inner_footer li a{
	color: white;
	text-decoration: none;
	padding-left: 10%;
}
.inner_footer li a:hover{
	text-decoration: underline;
}
#left_footer, #center_footer{
	border-right: 2px solid #6699ff;
}