html, body{
	margin: 0;
	padding: 0;
	background-color: #0769ad;
}
main{
	height: auto;
	background-color: white;
	padding: 1em;
	border-radius: 1em;
}
#logo{
	margin-left: 10%;
}
#logo img{
	width: 80%;
}
#errMsg{
	color: red;
	display: none;
}
#username_input, #password{
	width: 100%;
	padding: .5em;
	font-size: 1em;
	margin: 1em 0em;
	border-radius: .5em;
}
#loginbtn, #registerbtn{
	width: 100%;
	padding: .5em;
	border-radius: .5em;
	font-size: 1em;
	margin: 1em 0px;
}