main{
	background-color: #ffffff;
	padding: 20px 0px;
	width: 80%;
	min-width: 800px;
}
#logo{
	margin-top: 100px;
	margin-left: 10%;
}
#logo img{
	width: 300px;
}
header{
	width: 100%;
}
header div{
	width: 80%;
	margin: 0 auto;
}
header div h1{
	font-weight: bold;
	text-align: center;
}
#section div{
	padding: 25px;
}
footer{
	width: 100%;
}
#footer_div{
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
	padding: 50px;
}
.inner_footer{
	width: 32%;
	list-style: none;
	display: inline-block;
}
.inner_footer li{
	padding-left: 25%;
	padding-top: 10px;
}
.inner_footer li a{
	color: white;
	text-decoration: none;
}
.inner_footer li a:hover{
	text-decoration: underline;
}
#left_footer, #center_footer{
	border-right: 2px solid #6699ff;
}